<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="site.css">
</head>

<nav id="topNav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/glossary">Glossary</a>
</nav>

<body id="body">
  <p>This page was created by: Andrew Thayer</p>
  <p><a href="https://github.com/tayyy3r/sqc-project-athayer2">Project on GitHub</a></p>
  <button id = 'button'>Toggle Light/Dark Mode</button>
</body>
<script src="darkMode.js"></script>
</html>