<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About</title>
  <link rel="stylesheet" href="site.css">
</head>

<nav id="topNav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/glossary">Glossary</a>
  <button id = 'button'>Toggle Light/Dark Mode</button>
</nav>

<body id="body">
  <h2>About:</h2>

  <p>This site was created as a project for my Software Quality Control class.</p>

  <p>It utilizes various technologies to present to the end user a simple website which contains data parsed from a book in the form of an HTML file.</p>

  <p>Technologies Used:</p>

  <ul>
    <li>Node.js</li>
    <li>Express.js</li>
    <li>PostgreSQL</li>
    <li>Render(Hosting)</li>
  </ul>

  <p><a href="https://github.com/tayyy3r/sqc-project-athayer2">Project on GitHub</a></p>
</body>

<footer>
  <p>&copy; 2023 Andrew Thayer | <a href="mailto:athayer2@cvtc.edu">athayer2@cvtc.edu</a></p>
</footer>

<script src="darkMode.js"></script>

</html>