<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Glossary</title>
  <link rel="stylesheet" href="site.css">
</head>

<nav id="topNav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/glossary">Glossary</a>
  <button id = 'button'>Toggle Light/Dark Mode</button>
</nav>

<body id = "body">
    <h1>Glossary</h1>
    <ul>
        <% glossary.forEach(item => { %>
            <li><strong><%= item.word %></strong>: <%= item.definition %></li>
        <% }); %>
    </ul>
</body>

<footer>
  <p>&copy; 2023 Andrew Thayer | <a href="mailto:athayer2@cvtc.edu">athayer2@cvtc.edu</a></p>
</footer>

<script src="darkMode.js"></script>

</html>