<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="site.css">
</head>

<nav id="topNav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/glossary">Glossary</a>
  <button id = 'button'>Toggle Light/Dark Mode</button>
</nav>

<body id="body">
  <p>TO BE FILLED IN</p>
</body>

<script src="darkMode.js"></script>

</html>