<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="site.css">
</head>

<nav id="topNav">
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/glossary">Glossary</a>
  <button id = 'button'>Toggle Light/Dark Mode</button>
</nav>

<body id="body">
  <h2>Practical Mechanics for Boys</h1>

  <p>The purpose of this site is to introduce visitors to some common terms used within the trades. The terms found within are pulled directly from the book titled "Practical Mechanics for Boys", a title written by James Slough Zerbe and provided under the Project Gutenberg License at no cost.</p>

  <p>Navigation of the site is simple: to learn more about the code behind the project and technology stack used please visit the "About" section. Terms from the book can be found under the section titled "Glossary".</p>
  
</body>

<footer>
  <p>&copy; 2023 Andrew Thayer | <a href="mailto:athayer2@cvtc.edu">athayer2@cvtc.edu</a></p>
</footer>

<script src="darkMode.js"></script>

</html>