/* reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Arial, sans-serif;
}


body {
  font-family: Arial, sans-serif;
  color: #333;
  text-align: center;
}

#topNav {
  background-color: #333;
  color: #fff;
  padding: 0.625rem 0;
}

#topNav a {
  text-decoration: none;
  color: #fff;
  margin: 0 0.9375rem;
}

#topNav a:hover {
  text-decoration: underline;
}

#body {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1.25rem;
  box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
  border-radius: 0.3125rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 1.25rem;
}

p {
  font-size: 1rem;
  margin-bottom: 0.9375rem;
}

ul {
  list-style: none;
  margin-top: 0.9375rem;
}

li {
  font-size: 1rem;
  margin-bottom: 0.3125rem;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 0.625rem 0;
}

.dark {
  background-color: black;
  color: white;
}
